In [5]:
a=5
print (type(a))

<class 'int'>

In [16]:
f=1.5
print(f)
print(type(f))

1.5
<class 'float'>

In [17]:
s="hello"
print(s)
print(type(s))

hello
<class 'str'>

In [18]:
b=True
print(b)
print(type(b))

True
<class 'bool'>

In [19]:
t=5+3j
print(t)
print(type(t))

(5+3j)
<class 'complex'>

In [20]:
a=7
b=3
ab_sum=a+b
print(ab_sum)

10

In [21]:
ab_dif=a-b
print(ab_dif)

4

In [22]:
ab_pro=a*b
print(ab_pro)

21

In [23]:
ab_quo=a/b
print(ab_quo)

2.3333333333333335

In [24]:
ab_rem=a%b
print(ab_rem)

1

In [25]:
ab_pow=a**b
print(ab_pow)

343

In [26]:
ab_iquo=a//b
print(ab_iquo)

2

In [37]:
T=True
F=False
print(T,F)

p = 5 > 3
print(p)

q = -1 < -12.5
print(q)

print(p and q)
print(p or q)
print(not q)

True False
True
False
False
True
True

In [39]:
s="HELLO"
u="hi"
print(s)
print(u)

s1="python"
s2="world"
s3=s1+' '+s2
print(s3)

s3='%s %s %d'%(s1,s2,1011)
print(s3)

print(len(s3))

HELLO
hi
python world
python world 1011
17

In [50]:
print(s3.upper())

print(s3.capitalize())

print(s3.lower())

print("hello world where are you".split())

print('book'.replace('o','e'))

word='jewellery'
print(word.find('well'))
print(word.find('is'))

PYTHON WORLD 1011
Python world 1011
python world 1011
['hello', 'world', 'where', 'are', 'you']
beek
2
-1

In [60]:
number=23
if number>99 and number<1000:
    print("3 digit")
else:
    print("not 3 digit")

not 3 digit

In [61]:
response=input('Are you familiar with python:')

if response.upper() == "YES":
    print("You can skip this course :-|") 
elif response.upper() == "NO":
    print("You are at the right place :-)") 
else:
    print('Sorry wrong input :-(')

Are you familiar with python:no
You are at the right place :-)

In [65]:
for x in range(10):
    print(x,end=' ')

0 1 2 3 4 5 6 7 8 9

In [68]:
limit=int(input('Enter a limit : ')) 
sum=0
for i in range(1,limit + 1): 
    if (i%2!=0):
        sum+=i
print("Odd sum= "+str(sum))

Enter a limit : 12
Odd sum = 36

In [71]:
number=int(input('Enter number : ')) 
s=0
while(number>0):
    s+=(number%10)
    number=(number//10)
print(s)

Enter number : 34
7

In [1]:
print(list(range(10)))

print(list(range(1,10)))

print(list(range(1,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [4]:
limit=int(input('Enter number : ')) 
for num in range(2,limit+1):
    is_divisible=False
    k=2
    while k<=num//2 :
        if num%k==0:
            is_divisible=True
            break;
        k += 1
    if not is_divisible:
        print(num,end=' ')

Enter number : 12
2 3 5 7 11

In [3]:
mylist = ['a','b', 1, 1.2, True]
print(mylist)

['a', 'b', 1, 1.2, True]

In [5]:
b=[1,2,3]
mylist.append(b)
print(mylist)

['a', 'b', 1, 1.2, True, [1, 2, 3]]

In [6]:
mylist.append('new')
print(mylist)

['a', 'b', 1, 1.2, True, [1, 2, 3], 'new']

In [7]:
mylist.remove(b)
print(mylist)

['a', 'b', 1, 1.2, True, 'new']

In [8]:
print(mylist.pop())

new

In [9]:
mylist.extend(b)
print(mylist)

['a', 'b', 1, 1.2, True, 1, 2, 3]

In [10]:
mylist.insert(2,'new')
print(mylist)

['a', 'b', 'new', 1, 1.2, True, 1, 2, 3]

In [11]:
a=[2,3,8,7]
a.sort()
print(a)

[2, 3, 7, 8]

In [12]:
mylist.remove('new')
print(mylist)

['a', 'b', 1, 1.2, True, 1, 2, 3]

In [13]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [14]:
numbers=[1,2,3,4,5,6,7]
print(numbers[1],numbers[-1])
sliced=numbers[5:11]
print(sliced)
sliced=numbers[5:]
print(sliced)
sliced=numbers[:7]
print(sliced)
sliced=numbers[-2:]
print(sliced)

2 7
[6, 7]
[6, 7]
[1, 2, 3, 4, 5, 6, 7]
[6, 7]

In [15]:
numbers=list(range(1,8))
print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [16]:
square=[]
for i in numbers:
    square.append(pow(i,2))
    print(square)

[1]
[1, 4]
[1, 4, 9]
[1, 4, 9, 16]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25, 36]
[1, 4, 9, 16, 25, 36, 49]

In [17]:
square=[x**2 for x in numbers]
print(square)
odd_square=[x**2 for x in numbers if x%2!=0]
print(odd_square)

[1, 4, 9, 16, 25, 36, 49]
[1, 9, 25, 49]

In [18]:
A=[4,5,8,9]
AxA=[(a,b)for a in A for b in A if a!=b]
print(AxA)

[(4, 5), (4, 8), (4, 9), (5, 4), (5, 8), (5, 9), (8, 4), (8, 5), (8, 9), (9, 4), (9, 5), (9, 8)]

In [19]:
person={'name':'manu','age':28}
print(person['name'])


print('name' in person)

print('sex' in person)

person['sex']='male'
print(person)

for item in person:
    print(item,person[item])

manu
True
False
{'name': 'manu', 'age': 28, 'sex': 'male'}
name manu
age 28
sex male

In [20]:
for(key,value)in person.items():
    print(key.capitalize(),'\t\t',value)

Name 		 manu
Age 		 28
Sex 		 male

In [21]:
t1=(1,2,3)
t2=4,5,6
print(t1,t2)

t3=t1+t2
print(t3)

lt=tuple(['a','b','c','d'])
print(lt)


lt[2]='x'

(1, 2, 3) (4, 5, 6)
(1, 2, 3, 4, 5, 6)
('a', 'b', 'c', 'd')

TypeError: 'tuple' object does not support item assignment

In [22]:
s=(3)
print(type(s))
lt=tuple(['a','b','c','d']) 
print(lt)
print(type(s))

<class 'int'>
('a', 'b', 'c', 'd')
<class 'int'>

In [23]:
s={1,2,3}
print(s,type(s))

fset={"apple", "banana", "cherry"}
fset.remove("banana")
print(fset)

fset={"apple", "banana", "cherry"}
fset.discard("banana")

fset = {"apple", "banana", "cherry"}
fset.clear()
print(fset)

set1={"a", "b" , "c"} 
set2={1, 2, 3}
set3=set1.union(set2)
print(set3)

x={"apple", "banana", "cherry"}
y={"google", "microsoft", "apple"}

z=x.intersection(y)
print(z)

lst=[1,2,3,4,5,5,5,7,6]
myset = list(set(lst))
print(myset)
fset={"apple", "banana", "cherry"}
fset.clear()
print(fset)

{1, 2, 3} <class 'set'>
{'apple', 'cherry'}
set()
{1, 2, 3, 'b', 'c', 'a'}
{'apple'}
[1, 2, 3, 4, 5, 6, 7]
set()

In [27]:
def twice(number):
    return 2*number
t=twice(5)
print(t)

def isPrime(number):
    for factor in range(2,(number//2)+1): 
        if number%factor==0:
            return False
    return True
number=int(input('Enter the number '))
print(isPrime(number))

10
Enter the number 2
True

In [29]:
def printPrimes(llimit, ulimit):
    for num in range(llimit, ulimit + 1):
        if isPrime(num) == True:
            print(num, end = ' ')
printPrimes(5,50)

5 7 11 13 17 19 23 29 31 37 41 43 47 7 5

In [2]:
def swap(x,y):
    t=x
    x=y
    y=t
    return x,y
a=5
b=7
a,b=swap(a,b)
print(a,b)

7 5

In [3]:
class Adder:
    def init (self):
        self.x=0
        self.y=0
    def setValues(self,x,y):
        self.x=x
        self.y=y
    def calculate(self1):
        self1.sum=self1.x+self1.y
    def getSum(self):
        return self.sum
adder=Adder()
adder.setValues(5,4)
adder.calculate()
print(adder.getSum())

9